@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}
.header {
	height: 70px;
	border-bottom: 1px grey solid;
	width: 90%;
	margin: 0 5% 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.buttons {
	padding: 10px;
}
.green {
	padding: 5px;
	font-size: 1.2rem;
	margin-right: 15px;
	background-color: #378a51;
}
.red {
	padding: 5px;
	font-size: 1.2rem;
	background-color: #cf4a2b;
}
#red {
	padding: 5px;
	font-size: 1.2rem;
	background-color: rgba(255, 0, 30, 0.259);
}
.footer {
	height: 50px;
	border-top: 1px solid grey;
	text-align: center;
	padding: 10px;
	width: 90%;
	margin: 0 5% 0 5%;
}
.component {
	min-height: 85vh;
	width: 90%;
	margin: 0 5% 0 5%;
}
form {
	margin: 25px 0 0 20px;
}

.col {
	display: flex;
	flex-direction: column;
}
span {
	display: none;
	font-size: 0.8rem;
	color: #cf4a2b;
}
label {
	font-size: 1.4rem;
}
input {
	font-size: 1.2rem;
	padding: 2px;
}
select {
	font-size: 1.1rem;
	padding: 2px;
}
input:invalid[focused='true'] ~ span {
	display: block;
}

.card {
	height: 200px;
	width: 250px;
	border-radius: 5%;
	border: 2px solid black;
}
.cardText {
	margin: auto;
	text-align: center;
}

.cardComponent {
	margin: auto;
	height: 150px;
	width: 80%;
}

.productContainer {
	margin: 40px 0 100px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 25px;
}
#cardCheck {
	margin: 20px 0 5px 20px;

	width: 80%;
}
.redText {
	color: #cf4a2b;
	font-size: large;
	font-weight: 400;
}
